---
import type { Project } from '@/data/projects';
import 'src/styles/styles.css';
import convertAsteriskToStrongTag from '@/utils/convertAsteriskToStrongTag';

type Props = Project;

const { title, techs, link, isComingSoon, image, alt, date, description } =
	Astro.props;

const images: string[] = [
	'/3EC76091-DDF9-43A2-B06C-E51A14226FF1.jpeg',
	'/5A1830BC-EBCA-446F-AA8B-5532E60FDEE4.jpeg',
];
const alts: string[] = [
	'Pokedex Web project picture, showing homePage with some pokemons',
	'Mock reddit project picture, showing homePage with an article',
];

const formatTechs = (values: string[]) =>
	values.toString().replaceAll(',', ' • ');
---

<>
	{
		isComingSoon && (
			<div class='t group flex w-full flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 md:flex-row md:items-center'>
				<div class='flex flex-col gap-2 md:flex-row md:items-center md:gap-4 text-base'>
					<p class='text-neutral-100'>{title}</p>
					<p>{formatTechs(techs)}</p>
				</div>

				<p class='w-fit rounded-md bg-neutral-900 px-4 py-1'>Soon</p>
			</div>
		)
	}

	{
		!isComingSoon && (
			<section>
				<article class='group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center'>
					<div class='flex flex-col gap-4 md:flex-row md:items-center text-base'>
						<p class='text-neutral-100'>{title}</p>
						<p>{formatTechs(techs)}</p>
					</div>
					<button class='button'>
						<span class='bar bar-1' />
						<span class='bar bar-2' />
						<span class='bar bar-3' />
					</button>
				</article>
				<div class='sub group flex flex-row w-full justify-between gap-2 rounded-md border border-neutral-700 p-4 md:flex-row md:items-center'>
					<ul class='group flex flex-col gap-16 justify-between'>
						<li class='text-amber-400'>{date}</li>
						<li
							class='text-justify w-11/12'
							set:html={convertAsteriskToStrongTag(description)}
						/>
						<li class='cursor-pointer text-amber-400'>
							<a
								href={link}
								target='_blank'>
								{link}
							</a>
						</li>
					</ul>
					<img
						src={image}
						alt={alt}
						class='w-3/6 '
					/>
				</div>
			</section>
		)
	}
	<script>
		const menuButtons = document.querySelectorAll('.button');
		menuButtons.forEach((button, index) => {
			const parentSection = button.closest('section');
			parentSection.addEventListener('click', () => {
				const subMenu = parentSection.querySelector('.sub');
				subMenu.style.display =
					subMenu.style.display === 'flex' ? 'none' : 'flex';
				button.classList.toggle('open');
			});
		});
	</script>
</>
